{
	email {$EMAIL}
}

{$DOMAIN} {
	reverse_proxy app:8080

	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=(), microphone=(), camera=()"
	}
}

:80 {
	reverse_proxy app:8080
}
